*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary: #9793e5;
    --secondry:#0084fd;
    --secondary-soft: #b4ddfe;
    --accent: #fdc15f;
    --darker: #000;
    --dark: #323332;
    --light: #fffefe;
}
body{
    font-family: 'PT Sans';
}
.container{
 width: 80%;
 margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

img{
    max-width: 100%;
}

[class^="col_"]{padding: 0 1rem;}

.col_2{
    width: calc(100% / 12 * 2);
}
.col_3{
    width: calc(100% / 12 * 3);
}
.col_4{
    width: calc(100% / 12 * 4);
   
}

.col_6{
    width: calc(100% / 12 * 6);
}

.col_8{
    width: calc(100% / 12 * 8);
}
.col_9{
    width: calc(100% / 12 * 9);
}
.col_12{
    width: calc(100% / 12 * 12);
}

section{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*header*/
header{
    background-color: var(--secondry);
}

.main_menu a{
    color: #fffefe;
    text-decoration: none;
    
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

ul{
    display: flex;
    list-style-type: none;
}
ul li{
    padding-left: 1.5rem;
}

.b_nav{
    background-color: var(--light);
    border-radius: 1rem;
    padding: 0.5rem;
    
}
.b_nav a{
    color: var(--darker);
}
/*main*/
/*demo*/
.demo{
    background-color: var(--light);
}
.card {
    border-radius: 10px;
    background-color: var(--secondary-soft);
    width: 95%;
}
.primary{
    display: flex;
}
.application{
    width: 45%;
    padding: 2.5rem;
}
.application h1{
    margin-bottom: 1.5rem ;
}
.application h1{
 color: var(--secondry);
}
.application p{
    color: var(--dark);
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}
.app_store{
  background-color: var(--secondry);
  color: #fffefe;
  padding:0.75rem;
  border-radius: 2.5rem;
}
.images{
    width: 45%;
    margin-left: 2.5rem;
    padding-top: 3.5rem;
}
.images img{
    width: 60%;
    margin-left: 2.5rem;
}
.secondary{
    padding:1.5rem;
    width: 100%;
    text-align: center;
}
.under{
    margin-top: 1rem;
    width: 95%;
    justify-content: space-between;
    
}
.icon{
    color: #0084fd;
    font-size: 3.5rem;
}
.secondary h2{
    color: #0084fd;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.secondary p{
    color: var(--dark);
    font-weight: bold;
    line-height: 1.5rem;
}



/*planning*/


.planning{
    background-color: var(--primary);
}
.strategic, .app_development{
    text-align: center;
    padding: 2.5rem;
}
.strategic img{
    width: 50%;
    margin: 1.5rem 0;
    
}
.strategic h2{
    color: var(--light);
    margin: 1.5rem 0;
}
.strategic p{
    margin: 2.5rem 0;
    color: var(--light);
}
.app_development  {
    width: 60%;
    height: 80%;
    background-color: #fffefe;
    border-radius: 1.5rem;
    margin:auto;
    margin-top: 5.4rem;
}
.app_development img{
    width: 60%;
    margin-bottom: 1.5rem;
}

.app_development p {
    margin: 2rem 0;
    font-style:italic;
    font-weight: 1.5rem;
}

.arrow{
    font-size: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
    padding:0.75rem;
}
.arrow a{
    text-decoration: none;
    color: #000;
}
/*partner*/ 


.partners{
    background-color: var(--light);
    text-align: center; 
    
}

.partners h2{
    color:#9793e5;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.partner{
    display: flex;
    border-radius: 2rem;
    margin:1.5rem 0;
    background-color: var(--primary);
    text-align: justify;
}
.avatar img{
    width: 60%;
    border-radius: 60%;
    margin: 1rem 1rem;
}


.presentation{
    margin-top: 1.5rem;
    width: 80%;
    color: #fffefe;
    padding: 1rem;
    font-size: 1.25rem;
}

.presentation h4{
    margin-top: 1rem;
}


/*benefits*/

.benefits{
    background-color: var(--primary);
    padding: 2rem 0;
}
.benefits h2{
    color: #fffefe;
    text-align: center;
    font-size: 2.5rem;
    
}
.r_benefits{
   row-gap: 1.5rem;
   
   
}
.light{
    background-color: var(--light);
    color: #9793e5;
    border-radius: 2rem;
    padding: 2.5rem;
    
   
}
.light h2, h3{
    color: #9793e5;
    text-align: left;
    margin:1rem 0;
}

.light p{
    color: #323332;
    margin: 1rem 0;
}

.more{
    margin-top: 1rem;
    background-color: #9793e5;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
}
.more a{
    color: #fffefe;
    text-decoration: none;
    
}

/*about*/

.debug{
    height: 300px;
    background-color: #0084fd;
    border: 1px solid black;
}

/*call to action*/
.call_to_action{
    background-color: #9793e5;
    min-height: 300px;
}

/*footer*/
footer{
    background-color: #323332;
    height:200px;
    margin-top: -1.5rem;
}



/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/
@media screen and (min-width:1200px){
    header .main_menu{
        display: flex;
    }
    header .mobile_nav{
        display: none;
    }
    
}

 @media all and (min-width: 768px) and (max-width: 1160px) { 
    .container{
     width: 100%;
    }
   }
 
  @media screen and (max-width: 768px ){
     .container{
         width: 80%;
         
     }
     .lg_mob_8{
        width: calc(100%/12 * 12);
        flex-wrap: wrap;
        margin: auto;
        margin-bottom: 1rem;
     }
     .lg_mob_6{
        width: calc(100% /12 * 6);
        
     }
    }
    @media all and (min-width: 480px) and (max-width: 768px) { 
         header .main_menu{
            display: none;
         }
        
        .container{
          width: 100%;
         }
        }
 
  @media screen and (max-width: 480px ) {
    header .main_menu{
        display: none;
     }
    
    
    .container{
         width: 80%;
     }
     .row {
         flex-direction: column;
         align-items: center;
     }
     
     .lg_mob_12{
        width: calc(100%/12 * 12);
        
        margin: auto;
        margin-bottom: 1rem;
     }

     

     .partner{
        flex-wrap: wrap;
     }
  }
  
 
 